	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:06
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-apron-silhouette:before { content: "\f100"; }
.flaticon-big-food-container-with-cover:before { content: "\f101"; }
.flaticon-black-bottle:before { content: "\f102"; }
.flaticon-black-bottle-sauce-container:before { content: "\f103"; }
.flaticon-black-elegant-drinking-glass-tool:before { content: "\f104"; }
.flaticon-black-glass:before { content: "\f105"; }
.flaticon-black-glass-of-convex-sides:before { content: "\f106"; }
.flaticon-black-glass-side-view:before { content: "\f107"; }
.flaticon-black-glass-to-drink:before { content: "\f108"; }
.flaticon-black-plate-side-view:before { content: "\f109"; }
.flaticon-black-wine-bottle-glass-shape:before { content: "\f10a"; }
.flaticon-boiler-silhouette:before { content: "\f10b"; }
.flaticon-bowl:before { content: "\f10c"; }
.flaticon-bowl-or-flask-with-empty-label-for-kitchen-to-store-food:before { content: "\f10d"; }
.flaticon-bucket-for-dessert:before { content: "\f10e"; }
.flaticon-bucket-for-tea:before { content: "\f10f"; }
.flaticon-bucket-for-vegetables-in-diagonal-position:before { content: "\f110"; }
.flaticon-bucket-tool:before { content: "\f111"; }
.flaticon-buckets-kitchen-set:before { content: "\f112"; }
.flaticon-champagne-glass:before { content: "\f113"; }
.flaticon-chef:before { content: "\f114"; }
.flaticon-chef-hat:before { content: "\f115"; }
.flaticon-chef-hat-and-a-spoon:before { content: "\f116"; }
.flaticon-chef-hat-and-fork:before { content: "\f117"; }
.flaticon-chef-hat-on-a-plate-from-side-view:before { content: "\f118"; }
.flaticon-chef-hat-outline-symbol:before { content: "\f119"; }
.flaticon-chef-hat-with-cutlery-restaurant-symbol:before { content: "\f11a"; }
.flaticon-chef-recipes-book:before { content: "\f11b"; }
.flaticon-chef-with-hat:before { content: "\f11c"; }
.flaticon-chinese-food-bowl-from-side-view-and-chopsticks:before { content: "\f11d"; }
.flaticon-chopsticks-couple-in-cross:before { content: "\f11e"; }
.flaticon-cloth-for-kitchen-rotated-square-or-label-for-commerce:before { content: "\f11f"; }
.flaticon-coffee-cup-on-a-hand:before { content: "\f120"; }
.flaticon-cooking-accessories-set-of-three-pieces:before { content: "\f121"; }
.flaticon-cooking-accessory-for-kitchen:before { content: "\f122"; }
.flaticon-cooking-bowl:before { content: "\f123"; }
.flaticon-cooking-bowl-for-kitchen:before { content: "\f124"; }
.flaticon-cooking-bowl-wih-cover:before { content: "\f125"; }
.flaticon-cooking-container-with-cover:before { content: "\f126"; }
.flaticon-cooking-on-fire:before { content: "\f127"; }
.flaticon-cooking-pan-and-cutlery-set:before { content: "\f128"; }
.flaticon-cooking-pot-with-cover:before { content: "\f129"; }
.flaticon-cooking-recipes-book:before { content: "\f12a"; }
.flaticon-cooking-recipes-book-with-a-fork-and-a-spoon-in-cross-on-the-cover:before { content: "\f12b"; }
.flaticon-cooking-roller-silhouette:before { content: "\f12c"; }
.flaticon-covered-food-tray-on-a-hand-of-hotel-room-service:before { content: "\f12d"; }
.flaticon-covered-kitchen-bowl:before { content: "\f12e"; }
.flaticon-covered-pan-on-fire:before { content: "\f12f"; }
.flaticon-covered-plate-of-food:before { content: "\f130"; }
.flaticon-cup-black-shape-side-view:before { content: "\f131"; }
.flaticon-cup-for-tea-or-coffee:before { content: "\f132"; }
.flaticon-cup-with-hot-drink:before { content: "\f133"; }
.flaticon-cup-with-hot-tea:before { content: "\f134"; }
.flaticon-cutlery:before { content: "\f135"; }
.flaticon-cutlery-1:before { content: "\f136"; }
.flaticon-cutlery-2:before { content: "\f137"; }
.flaticon-cutlery-3:before { content: "\f138"; }
.flaticon-cutlery-cross-couple-of-fork-and-spoon:before { content: "\f139"; }
.flaticon-cutlery-cross-of-a-knife-and-a-spoon:before { content: "\f13a"; }
.flaticon-cutlery-for-fish:before { content: "\f13b"; }
.flaticon-cutlery-kitchen-set:before { content: "\f13c"; }
.flaticon-cutlery-kitchen-set-1:before { content: "\f13d"; }
.flaticon-cutlery-on-circular-plate:before { content: "\f13e"; }
.flaticon-cutlery-pieces-on-a-circular-plate-from-top-view:before { content: "\f13f"; }
.flaticon-cutlery-set:before { content: "\f140"; }
.flaticon-cutlery-set-of-eating-tools:before { content: "\f141"; }
.flaticon-cutlery-set-of-five-pieces:before { content: "\f142"; }
.flaticon-cutlery-set-of-five-pieces-1:before { content: "\f143"; }
.flaticon-cutlery-set-of-three-pieces:before { content: "\f144"; }
.flaticon-cutlery-set-on-a-plate:before { content: "\f145"; }
.flaticon-cutlery-set-on-a-plate-1:before { content: "\f146"; }
.flaticon-cutlery-set-on-a-plate-2:before { content: "\f147"; }
.flaticon-cutlery-symbol:before { content: "\f148"; }
.flaticon-cutting-board-black-rectangular-silhouette-of-the-tool:before { content: "\f149"; }
.flaticon-cutting-board-side-view-silhouettes-of-tools:before { content: "\f14a"; }
.flaticon-cutting-tool-for-potatoes:before { content: "\f14b"; }
.flaticon-dessert-glass-container-of-tall-elegant-shape:before { content: "\f14c"; }
.flaticon-desserts-recipes-book:before { content: "\f14d"; }
.flaticon-drinks-recipes-book:before { content: "\f14e"; }
.flaticon-electrical-kettle-tool-side-view:before { content: "\f14f"; }
.flaticon-elegant-black-wine-glass:before { content: "\f150"; }
.flaticon-elegant-glass-for-water:before { content: "\f151"; }
.flaticon-flat-cooking-bowl-from-side-view:before { content: "\f152"; }
.flaticon-flat-cooking-pan:before { content: "\f153"; }
.flaticon-flat-covered-pan-kitchen-tool-for-cooking-from-side-view:before { content: "\f154"; }
.flaticon-flat-kitchen-bowl-to-cook-heating-the-food:before { content: "\f155"; }
.flaticon-flat-plate-with-hot-food-from-side-view:before { content: "\f156"; }
.flaticon-food-scale-tool:before { content: "\f157"; }
.flaticon-fork-and-knife-cutlery-circle-interface-symbol-for-restaurant:before { content: "\f158"; }
.flaticon-fork-and-knife-in-cross:before { content: "\f159"; }
.flaticon-fork-and-spoon-for-salad:before { content: "\f15a"; }
.flaticon-fork-eating-tool-silhouette-in-diagonal:before { content: "\f15b"; }
.flaticon-fork-for-dessert:before { content: "\f15c"; }
.flaticon-fork-in-diagonal:before { content: "\f15d"; }
.flaticon-fork-of-long-and-thin-shape:before { content: "\f15e"; }
.flaticon-forks:before { content: "\f15f"; }
.flaticon-forks-for-meat:before { content: "\f160"; }
.flaticon-forks-set-for-kitchen:before { content: "\f161"; }
.flaticon-four-cooking-accessories-set-for-kitchen:before { content: "\f162"; }
.flaticon-frying-pan-silhouette-from-top-view:before { content: "\f163"; }
.flaticon-glass:before { content: "\f164"; }
.flaticon-glass-1:before { content: "\f165"; }
.flaticon-glass-2:before { content: "\f166"; }
.flaticon-glass-black-drinking-tool:before { content: "\f167"; }
.flaticon-glass-black-shape-from-side-view:before { content: "\f168"; }
.flaticon-glass-black-side-view-shape:before { content: "\f169"; }
.flaticon-glass-black-tool:before { content: "\f16a"; }
.flaticon-glass-elegant-black-shape:before { content: "\f16b"; }
.flaticon-glass-for-flowers:before { content: "\f16c"; }
.flaticon-glass-of-wine:before { content: "\f16d"; }
.flaticon-glass-on-a-hand:before { content: "\f16e"; }
.flaticon-glass-shape:before { content: "\f16f"; }
.flaticon-glass-with-beverage-ice-cubes-and-straw:before { content: "\f170"; }
.flaticon-grinder-for-meat:before { content: "\f171"; }
.flaticon-heating-food-in-flat-pan-on-fire:before { content: "\f172"; }
.flaticon-hot-coffee-cup-with-spoon-in-it:before { content: "\f173"; }
.flaticon-hot-food-bowl:before { content: "\f174"; }
.flaticon-hot-food-in-a-bowl:before { content: "\f175"; }
.flaticon-hot-food-in-open-bowl:before { content: "\f176"; }
.flaticon-hot-recipes-kitchen-book:before { content: "\f177"; }
.flaticon-ice-cream-balls-on-tall-glass:before { content: "\f178"; }
.flaticon-jar:before { content: "\f179"; }
.flaticon-kitchen-accessory:before { content: "\f17a"; }
.flaticon-kitchen-accessory-1:before { content: "\f17b"; }
.flaticon-kitchen-accessory-2:before { content: "\f17c"; }
.flaticon-kitchen-accessory-3:before { content: "\f17d"; }
.flaticon-kitchen-accessory-for-cake:before { content: "\f17e"; }
.flaticon-kitchen-accessory-for-cheese:before { content: "\f17f"; }
.flaticon-kitchen-accessory-in-diagonal-position:before { content: "\f180"; }
.flaticon-kitchen-accessory-silhouette:before { content: "\f181"; }
.flaticon-kitchen-accessory-silhouette-in-diagonal:before { content: "\f182"; }
.flaticon-kitchen-apron-and-glove:before { content: "\f183"; }
.flaticon-kitchen-ax:before { content: "\f184"; }
.flaticon-kitchen-bowl:before { content: "\f185"; }
.flaticon-kitchen-bowl-for-cooking-with-cover:before { content: "\f186"; }
.flaticon-kitchen-bowl-with-cover:before { content: "\f187"; }
.flaticon-kitchen-forceps-silhouette-in-diagonal-position:before { content: "\f188"; }
.flaticon-kitchen-glove:before { content: "\f189"; }
.flaticon-kitchen-hammer-silhouette:before { content: "\f18a"; }
.flaticon-kitchen-mixer:before { content: "\f18b"; }
.flaticon-kitchen-opened-pan-tool:before { content: "\f18c"; }
.flaticon-kitchen-pan-with-cover:before { content: "\f18d"; }
.flaticon-kitchen-pan-with-cover-1:before { content: "\f18e"; }
.flaticon-kitchen-pan-with-cover-for-heat:before { content: "\f18f"; }
.flaticon-kitchen-scale-tool:before { content: "\f190"; }
.flaticon-kitchen-set-for-cake:before { content: "\f191"; }
.flaticon-kitchen-utensil:before { content: "\f192"; }
.flaticon-kitchen-utensil-for-salt:before { content: "\f193"; }
.flaticon-kitchen-utensil-to-cook-hot-food:before { content: "\f194"; }
.flaticon-kitchen-wheel-accessory-for-cutting:before { content: "\f195"; }
.flaticon-knife:before { content: "\f196"; }
.flaticon-knife-and-fork-in-a-square-for-interface-symbol-for-restaurants:before { content: "\f197"; }
.flaticon-knife-black-diagonal-tool-silhouette:before { content: "\f198"; }
.flaticon-knife-cutting-tool:before { content: "\f199"; }
.flaticon-knife-diagonal-tool-silhouette:before { content: "\f19a"; }
.flaticon-knife-for-pizza-with-a-wheel-of-metal:before { content: "\f19b"; }
.flaticon-knife-long-thin-cutting-tool-silhouette:before { content: "\f19c"; }
.flaticon-knife-of-thin-shape-in-diagonal-position:before { content: "\f19d"; }
.flaticon-knife-on-cutting-board:before { content: "\f19e"; }
.flaticon-knife-silhouette-in-diagonal-position:before { content: "\f19f"; }
.flaticon-knife-tool:before { content: "\f1a0"; }
.flaticon-knives-cross:before { content: "\f1a1"; }
.flaticon-knives-cutlery-set-for-kitchen:before { content: "\f1a2"; }
.flaticon-knives-set-silhouette:before { content: "\f1a3"; }
.flaticon-long-thin-spoon-for-kitchen:before { content: "\f1a4"; }
.flaticon-meat-recipes-book:before { content: "\f1a5"; }
.flaticon-meat-recipes-book-1:before { content: "\f1a6"; }
.flaticon-microwave-oven:before { content: "\f1a7"; }
.flaticon-mixer:before { content: "\f1a8"; }
.flaticon-mixer-kitchen-machine:before { content: "\f1a9"; }
.flaticon-mixer-kitchen-tool-side-view:before { content: "\f1aa"; }
.flaticon-mixing-machine:before { content: "\f1ab"; }
.flaticon-opener-for-wine-bottles:before { content: "\f1ac"; }
.flaticon-opener-in-diagonal-position:before { content: "\f1ad"; }
.flaticon-oven-kitchen-tool-for-cooking-foods:before { content: "\f1ae"; }
.flaticon-pitcher:before { content: "\f1af"; }
.flaticon-pitcher-kitchen-container-for-liquids-measuring:before { content: "\f1b0"; }
.flaticon-pitcher-kitchen-utensil-with-liquid-inside:before { content: "\f1b1"; }
.flaticon-pitcher-or-tea-pot:before { content: "\f1b2"; }
.flaticon-pitcher-or-teapot-side-view:before { content: "\f1b3"; }
.flaticon-plate-and-cutlery-from-top-view:before { content: "\f1b4"; }
.flaticon-plate-and-forks-couple-from-top-view:before { content: "\f1b5"; }
.flaticon-plate-circles-from-top-view:before { content: "\f1b6"; }
.flaticon-plate-glass-and-napkin-from-top-view:before { content: "\f1b7"; }
.flaticon-plate-gross-circle:before { content: "\f1b8"; }
.flaticon-plate-of-food:before { content: "\f1b9"; }
.flaticon-plate-with-cutlery-and-glass-from-top-view:before { content: "\f1ba"; }
.flaticon-plate-with-fork-and-knife-eating-set-tools-from-top-view:before { content: "\f1bb"; }
.flaticon-plate-with-glass-and-cutlery-from-top-view:before { content: "\f1bc"; }
.flaticon-potatoes-cutting-tool:before { content: "\f1bd"; }
.flaticon-recipes-book-kitchen-guide:before { content: "\f1be"; }
.flaticon-recipes-book-with-spaghetti-plate-on-the-cover:before { content: "\f1bf"; }
.flaticon-refrigerator:before { content: "\f1c0"; }
.flaticon-restaurant-cutlery-circular-interface-symbol-with-a-knife-and-a-spoon:before { content: "\f1c1"; }
.flaticon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle:before { content: "\f1c2"; }
.flaticon-restaurant-cutlery-symbol-in-a-square:before { content: "\f1c3"; }
.flaticon-restaurant-eating-tools-set-of-three-pieces:before { content: "\f1c4"; }
.flaticon-restaurant-plate-top-view:before { content: "\f1c5"; }
.flaticon-restaurant-square-interface-symbol-with-a-knife-and-a-spoon:before { content: "\f1c6"; }
.flaticon-rounded-bowl:before { content: "\f1c7"; }
.flaticon-salty-food-in-a-bowl:before { content: "\f1c8"; }
.flaticon-sauce-container-silhouette:before { content: "\f1c9"; }
.flaticon-saucepan-from-side-view:before { content: "\f1ca"; }
.flaticon-scoop-kitchen-utensil:before { content: "\f1cb"; }
.flaticon-scoop-of-egg-shape:before { content: "\f1cc"; }
.flaticon-scoops-couple:before { content: "\f1cd"; }
.flaticon-serving-tea-in-a-cup-from-a-teapot:before { content: "\f1ce"; }
.flaticon-serving-wine-in-a-glass-with-a-bottle:before { content: "\f1cf"; }
.flaticon-silhouette-of-kitchen-tool-for-pepper:before { content: "\f1d0"; }
.flaticon-skewer:before { content: "\f1d1"; }
.flaticon-skimmer:before { content: "\f1d2"; }
.flaticon-soup-bucket:before { content: "\f1d3"; }
.flaticon-soup-hot-bowl-with-spoon:before { content: "\f1d4"; }
.flaticon-spoon-for-cream:before { content: "\f1d5"; }
.flaticon-spoons-and-forks-of-kitchen:before { content: "\f1d6"; }
.flaticon-spoons-and-skewer-long-kitchen-utensils:before { content: "\f1d7"; }
.flaticon-strainer-kitchen-bowl-with-holes:before { content: "\f1d8"; }
.flaticon-sweet-recipes-opened-cooking-book:before { content: "\f1d9"; }
.flaticon-tall-alcohol-glass:before { content: "\f1da"; }
.flaticon-tall-cup-with-straw-and-spoon-inside:before { content: "\f1db"; }
.flaticon-tall-elegant-glass-shape:before { content: "\f1dc"; }
.flaticon-tall-kitchen-pan-with-cover:before { content: "\f1dd"; }
.flaticon-tea-set:before { content: "\f1de"; }
.flaticon-teapot:before { content: "\f1df"; }
.flaticon-thin-glasses-couple-for-celebration:before { content: "\f1e0"; }
.flaticon-thin-long-spoon-kitchen-accessory:before { content: "\f1e1"; }
.flaticon-three-buckets-set-for-kitchen-of-different-sizes:before { content: "\f1e2"; }
.flaticon-timer-kitchen-tool-of-egg-shape:before { content: "\f1e3"; }
.flaticon-toaster:before { content: "\f1e4"; }
.flaticon-toaster-1:before { content: "\f1e5"; }
.flaticon-tool-for-soup:before { content: "\f1e6"; }
.flaticon-two-plates-from-side-view:before { content: "\f1e7"; }
.flaticon-vase:before { content: "\f1e8"; }
.flaticon-whisk-kitchen-tool:before { content: "\f1e9"; }
.flaticon-wine-black-glass:before { content: "\f1ea"; }
.flaticon-wine-bottle:before { content: "\f1eb"; }
.flaticon-wine-bottle-1:before { content: "\f1ec"; }
.flaticon-wine-bottle-2:before { content: "\f1ed"; }
.flaticon-wine-bottle-and-opener:before { content: "\f1ee"; }
.flaticon-wine-opener-silhouette:before { content: "\f1ef"; }